.robot-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.robot-face-shape {
  --wide: 500px;
  --high: 500px;

  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--wide);
  height: var(--high);
  border: 7px solid #dbdbdb;
  border-radius: 2rem;
  background-image: linear-gradient(#21222c, #8b93e96e, #8b93e9);
  background-color: #21222c17;
}

.robot-eye-left {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid rgb(3, 247, 255);
  border-bottom: 50px solid transparent;
  animation: eye-left 5s infinite;
}

@keyframes eye-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.robot-eye-right {
  position: absolute;
  top: 80px;
  right: 80px;
  width: 0%;
  height: 0%;
  border-top: 50px solid transparent;
  border-right: 100px solid rgb(0, 255, 55);
  border-bottom: 50px solid transparent;
  animation: eye-right 2s infinite;
}

@keyframes eye-right {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

.robot-ear-left {
  position: absolute;
  left: 29%;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid rgb(253, 0, 219);
  border-left: 60px solid rgb(0, 247, 255);
  border-bottom: 60px solid rgb(98, 0, 255);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  animation: ear-left 5s infinite;
}

@keyframes ear-left {
  0% {
    scale: 1;
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    scale: 0.5;
    opacity: 0.1;
    transform: rotate(360deg);
  }
  100% {
    scale: 1;
    opacity: 1;
    transform: rotate(0deg);
  }
}

.robot-ear-right {
  position: absolute;
  right: 29%;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid rgb(98, 0, 255);
  border-left: 60px solid rgb(0, 247, 255);
  border-bottom: 60px solid rgb(253, 0, 219);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  animation: ear-right 10s infinite;
}

@keyframes ear-right {
  0% {
    scale: 1;
    opacity: 1;
    transform: rotate(0deg);
    border-top: 60px solid rgb(98, 0, 255);
    border-left: 60px solid rgb(0, 247, 255);
    border-bottom: 60px solid rgb(253, 0, 219);
  }
  50% {
    scale: 1.3;
    opacity: 0.1;
    transform: rotate(130deg);
    border-top: 60px solid rgb(0, 202, 253);
    border-left: 60px solid rgb(43, 255, 0);
    border-bottom: 60px solid rgb(255, 136, 0);
  }
  100% {
    scale: 1;
    opacity: 1;
    transform: rotate(0deg);
    border-top: 60px solid rgb(98, 0, 255);
    border-left: 60px solid rgb(0, 247, 255);
    border-bottom: 60px solid rgb(253, 0, 219);
  }
}

.robot-nose {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  position: relative;
  width: 20px;
  z-index: 1;
  transition: transform 0.7s;
}

.robot-nose:hover {
  transform: rotate(360deg);
}

.robot-nose:before {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

.robot-teeth {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3px;
  width: 200px;
  height: 100px;
  overflow: hidden;
  /* margin: 20px 0; */
  bottom: 2.3rem;
  background: red;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: 0.1em;
  animation: mouth-move 5s infinite;
}

.robot-teeth:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

@keyframes mouth-move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px) translateY(0px);
  }
  75% {
    transform: translateY(20px) translateX(0px);
  }
  100% {
    transform: translateY(0);
  }
}

.robot-tooth {
  position: relative;
  width: 80px;
  height: 45px;
  background: rgb(255, 248, 251);
  animation: tooth-move 2s infinite;
}

.robot-tooth:nth-child(even) {
  height: 30px;
  animation: tooth-even 2s infinite;
}

@keyframes tooth-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes tooth-even {
  0% {
    height: 35px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 35px;
  }
}

.robot-hair-style {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  top: 300px;
  gap: 10px;
  width: 500px;
  height: 500px;
  animation: hair-move 2s infinite;
}

@keyframes hair-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

.robot-hair-one {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgb(182, 127, 255);
  animation: hair-color1 2s infinite;
}

.robot-hair-two {
  width: 30px;
  height: 40px;
  background: rgb(181, 127, 13);
  animation: hair-color2 3s infinite;
}

.robot-hair-three {
  width: 40px;
  height: 60px;
  background: rgb(163, 255, 127);
  opacity: 0.5;
  animation: hair-color3 4s infinite;
}

@keyframes hair-color1 {
  from {
    background: rgb(182, 127, 255);
  }
  to {
    background: rgb(181, 127, 13);
  }
}

@keyframes hair-color2 {
  from {
    background: rgb(181, 127, 13);
  }
  to {
    background: rgb(163, 255, 127);
  }
}

@keyframes hair-color3 {
  from {
    background: rgb(163, 255, 127);
  }
  to {
    background: rgb(182, 127, 255);
  }
}
